.queue-track {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
  background-color: var(--bg);
  border-radius: 6px;
  padding: 0.5rem;
}

.queue-track-image {
  width: 40px;
  height: 40px;
  border-radius: 6px;
}

.queue-track-info {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.queue-track-name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.015em;
  color: #fff;
}

.queue-track-artist {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.015em;
  color: #b3b3b3;
}
