@import "./room-player.css";
@import "./room-users.css";
@import "./room-queue.css";
@import "./room-search.css";
@import "./room-search-result.css";
@import "./room-queue-track.css";
@import "./room-card.css";
@import "./room-tabs.css";
@import "./room-settings.css";

.room-overview-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
