.room-settings-delete {
  background-color: var(--danger);
  display: block;
}

.room-settings {
  height: 100%;
  background-color: var(--bg-semi-light);
  border-radius: 6px;
  padding: 1rem;
}

.room-settings-color {
  height: 32px;
  width: 32px;
  padding: 0;
  margin-right: 0.5rem;
  border: 0;
  border-radius: 50%;
  background-color: transparent;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

.room-settings-color-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
