room-queue {
  flex: 2.5;
  padding: 1rem;
}

.room-queue {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.room-queue-tracks {
  overflow-y: scroll;
}

.room-queue-tracks::-webkit-scrollbar {
  width: 0;
}
