.chat-room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat-room-messages {
    background-color: var(--bg);
    border: 0;
    padding: 0.5rem;
    font-size: 18px;
    border-radius: 6px;
    height: calc(100% - 53px);
    overflow-y: scroll;
}

.chat-room-messages::-webkit-scrollbar {
    width: 0;
}

.chat-message-input {
    background-color: var(--bg);
    border: 0;
    color: white;
    padding: 0.5rem;
    font-size: 18px;
    width: 100%;
    border-radius: 6px;
    border-color: var(--bg-semi-light);
}