* {
    box-sizing: border-box;
}

:root {
    --bg: #1f1f1f;
    --bg-light: #181818;
    --bg-semi-light: #1b1b1b;
    --primary: #1db954;
    --border-grey: #4e4e4e;
    --danger: #cd1a2b;
}

body {
    font-family: spotify-circular, spotify-circular-cyrillic,
        spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica,
        arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
    margin: 0px;

    background-color: #F9FAFB;
    color: #161D2E;
}

.intro-section {
    /* padding: 20px 20px 30px 0px; */
    padding-top: 20px;
}

.intro-description {
    color: #868C97;
}

.logo-container {
    display: inline-block;
}

.logo {
    max-width: 164px;
    border-radius: 50%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.top-container {
    padding: 0 20px;
    text-align: center;
}

h2.logo-text {
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}

h1 {
    margin: 0;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -1px;
    color: black;
    font-weight: 900;

    font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */ 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}

h3 {
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 21px;
}

.button {
    display: inline-block;
    padding: 15px 35px;
    background: var(--primary);
    border-radius: 4px;
    letter-spacing: 0.5px;
    font-size: 16px;
    padding: 15px 35px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
    color: white;
}

a {
    text-decoration: none;
}

.middle-container {
    text-align: center;
    padding: 0 20px;
}

.showcase-container {
    padding: 0 40px;
    background-color: var(--bg);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    margin-top: 240px;
}

.showcase-image {
    max-width: 1300px;
    width:100%;
    margin: 0 20px;
    margin-top:-200px;
    border-radius: 12px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.spotify-logo {
    max-width: 42px;
}

p {
    line-height: 1.5;
    letter-spacing: 0.8px;
    font-size: 22.5px;
}

.section-title {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top:0;
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
}

.section {
    display: flex;
}

.section-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.section-title {
    margin-bottom: 20px;
}

.section-info {
    margin-right:auto;
    width:50%
}

.section-reverse .section-info {
    margin-right: 0;
    margin-left: auto;
}

.section-image {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 12px;
}

.section-2 {
    padding: 40px;
    background-color: var(--bg-light);
    color:white;
}

.section-3 {
    padding: 40px;
    background-color: var(--bg);
    color:white;
}

.section-4 {
    padding: 40px;
    background-color: var(--bg-light);
    color:white;
}