@import "../modules/rooms/styles/room.css";
@import "../modules/chat/styles/chat.css";
@import "../modules/profile/styles/profile.css";

* {
  box-sizing: border-box;
}

:root {
  --bg: #1f1f1f;
  --bg-light: #181818;
  --bg-semi-light: #1b1b1b;
  --primary: #1db954;
  --border-grey: #4e4e4e;
  --danger: #cd1a2b;
}

body {
  font-family: spotify-circular, spotify-circular-cyrillic,
    spotify-circular-arabic, spotify-circular-hebrew, Helvetica Neue, helvetica,
    arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
  margin: 0px;

  background-color: var(--bg);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h5 {
  margin: 0;
}

h6 {
  margin: 0;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1px;
  padding: 0 0 1em 0;
  color: black;
  font-weight: 900;
}

h7 {
  margin: 0;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  padding: 1em 1em 1em 0px;
}

img[src=""] {
  visibility: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin-bottom: 0rem;

  color: white;

  background-color: var(--bg-light);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0rem 2rem;
}

button {
  padding: 0.5rem 1rem;
  border: 0;
  background-color: var(--primary);
  color: white;
  font-size: 1.15rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.badge {
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  border-radius: 0.25rem;
}

.badge-primary {
  background-color: var(--primary);
  color: white;
}

.badge-dark {
  background-color: var(--bg-light);
  color: var(--primary);
}

.profile-image {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}
